<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="botonVolver()" fill="clear" class="botonvolver" slot="start" routerLink="/home">
      <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
    </ion-button>
    <ion-title>Registrar asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!generado" style="text-align: center; margin-top: 15px;">
    
    <div class="cards">
      <ion-card>
        <ion-card-header>
          <h1>Selecciona la asignatura:</h1>
          <ion-card-title>Asignaturas disponibles:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let asistencia of asistencias">
              <ion-label>{{ asistencia.asignatura }}</ion-label>
              <ion-button (click)="mostrarAlerta(asistencia.asignatura)" color="tertiary">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="generado" style="text-align: center; margin-top: 90px;">
    <h1 size="5">QR de {{asign}} </h1>
    <h1>Sección: seccion </h1>
    <img style="margin-top:20px;" class="qr" src="../../assets/img/frame.png" alt="QR">
  </div>
  <div *ngIf="generado" style="text-align:center;">
    <ion-button color="success"style="margin-top: 30px; " fill="solid" shape="round" (click)="volverQR()">
      <ion-icon size="default"fill="outline"slot="center" name="arrow-undo-outline"></ion-icon>
      Volver
    </ion-button>
  </div>

</ion-content>
