<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" class="botonvolver" slot="start" routerLink="/home">
      <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
    </ion-button>
    <ion-title>Mis asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" style="--ion-grid-padding:2%">
      <ion-accordion-group>
        <ion-accordion *ngFor="let asist of asistenciasUsuario;let i=index;">
          <ion-item slot="header">
            <div class="rectangulo1 ion-align-items-start" style="margin-right: 10px;" [ngStyle]="{'background-color':colores1(i)}"></div>
            <ion-label>{{asist.sigla}}  {{asist.seccion}}</ion-label>
          </ion-item>
    
        </ion-accordion>
      </ion-accordion-group>
  </ion-grid>
</ion-content>


