<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" class="botonvolver" slot="start" routerLink="/home">
      <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
    </ion-button>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" style="--ion-grid-padding:2%" *ngIf="login==true">
      <ion-accordion-group>
        <ion-accordion *ngFor="let asignatura of asignaturas;let i=index;">
          <ion-item slot="header">
            <div class="rectangulo1 ion-align-items-start" style="margin-right: 10px;" [ngStyle]="{'background-color':colores1(i)}"></div>
            <ion-label>{{asignatura.asignatura}}  {{asignatura.seccion}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" *ngFor="let asistencia of filtroAsignaturas(asistenciasUsuario, asignatura.sigla+'-'+asignatura.seccion)">
            <ion-label>{{asistencia.fecha}}</ion-label>
            <ion-label style="vertical-align: middle; text-align: start; float: right;" *ngIf="!asistencia.estado&&!profesor"><ion-icon color="success" name="checkmark-circle-outline"slot="start" style="vertical-align: middle; margin-right: 5px; text-align: start;"></ion-icon>Presente</ion-label>
            <ion-label style="vertical-align: middle; text-align: start; float: right;" *ngIf="!asistencia.estado&&profesor"><ion-icon color="success" name="checkmark-circle-outline"slot="start" style="vertical-align: middle; margin-right: 5px; text-align: start;"></ion-icon>Clase registrada</ion-label>
            <ion-label style="vertical-align: middle; text-align: start; margin-right: 5px; float: right;" *ngIf="asistencia.estado"><ion-icon color="danger" name="close-circle-outline"slot="start" style="vertical-align: middle; margin-right: 5px; text-align: start;"></ion-icon>Ausente</ion-label>
          </div>
        </ion-accordion>
      </ion-accordion-group>
  </ion-grid>

  <div class="ion-text-center ion-margin-top" *ngIf="login==false" style="--ion-margin:50px">
    <ion-icon name="qr-code-outline" style="font-size: 80px; text-align:center;"></ion-icon>
    <h1 class="ion-text-center">Inicia sesión para ver tus asistencias</h1>
    <a href="login" style="text-decoration: none;">Iniciar sesión</a>
  </div>
</ion-content>