
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" class="botonvolver" slot="start" routerLink="/home">
      <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
    </ion-button>
    <ion-title>Mis asignaturas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cards" *ngIf="login==true">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Asignaturas</ion-card-title>
        <ion-card-subtitle class="ion-text-center"> Hoy es {{diaActualText}} {{diaActual}} {{mesActual}} del {{anioActual}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-label class="asigntext fixedLabel" fixed style="min-width: 40%; text-align: start; font-weight: bold; margin-right: 10px;">Asignatura</ion-label>
            <ion-label class="asigntext fixedLabel" fixed style="min-width: 30%; text-align: center; font-weight: bold;" *ngIf="!profesor" id="profe">Profesor</ion-label>
            <ion-label class="asigntext fixedLabel" fixed style="min-width: 25%; text-align: center; font-weight: bold;">Sección</ion-label>
          </ion-item>

          <ion-item *ngFor="let asignatura of asignaturas; let i = index;">
            <div class="rectangulo1 ion-align-items-start" [ngStyle]="{'background-color':colores1(i)}"></div>
            <ion-label  class="asigntext fixedLabel" fixed style="min-width: 40%; text-align: start;"> {{ asignatura.asignatura}} </ion-label>
            <ion-label  class="asigntext fixedLabel" fixed style="min-width: 30%; text-align: center;" *ngIf="!profesor" id="asigProfe"> {{ asignatura.profesor}} </ion-label>
            <ion-label  class="asigntext fixedLabel" fixed style="min-width: 25%; text-align: center;"> {{asignatura.seccion}} </ion-label>
          </ion-item>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
    </div>
  
    <div *ngIf="login==true" class="contenedor-boton-registrar" style="margin-top:20px; margin-bottom: 20px; margin-right: 20px; display: flex; justify-content: flex-end;">
      <ion-button size="default" class="botonRegistrar" slot="end" routerLink="/regasistencia">
        Registrar asistencia
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top" *ngIf="login==false" style="--ion-margin:50px">
      <ion-icon name="qr-code-outline" style="font-size: 80px; text-align:center;"></ion-icon>
      <h1 class="ion-text-center">Inicia sesión para ver tus asignaturas</h1>
      <a href="login" style="text-decoration: none;">Iniciar sesión</a>
    </div>
    
  
</ion-content>
