/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.logoduoc {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 15vh;   
    padding-left: 15px;
    padding-right: 15px;
  }

  .QRreg {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 15vh;   
    padding-left: 15px;
    padding-right: 15px;
  }


.txtbienv{
    padding-top: 10px;
}

.cards{
    padding-top:25px;
    border-radius: 15px;

}

  .rectangulo1{
    width: 10px;  
    height: 30px; 
    background-color: #007bff; 
    border-radius: 4px; 
  }

  .rectangulo2{
    width: 10px; 
    height: 30px; 
    background-color: #df26d5; 
    border-radius: 4px; 
  }

  .rectangulo3{
    width: 10px;  
    height: 30px; 
    background-color: #90e242; 
    border-radius: 4px; 
  }

  .rectangulo4{
    width: 10px;  
    height: 30px; 
    background-color: #e99a40;
    border-radius: 4px; 
  }

  .rectangulo5{
    width: 10px;  
    height: 30px; 
    background-color: #5a19dd;
    border-radius: 4px; 
  }

  .rectangulo6{
    width: 10px;  
    height: 30px; 
    background-color: #d63333;
    border-radius: 4px; 
  }

  .asigntext{
    padding-left:10px;
  }

  .botonvolver{
    border-left: 20px;
  }

  .qr{
    border-radius: 20px;
  }

  .contenedor-boton-registrar{ 
      bottom: 20px; 
      right: 20px; 
  }

  .botonRegistrar{
    width: 120px;
    height: 40px; 
    border-radius: 5px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  .circular-progress {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    transform: rotate(-90deg);
  }